/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #000;
}

#loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#yellow {
    width: 100%;
    height: 100vh;
    background-color: #F5E41B;
    position: absolute;
    z-index: 6;
}

#loader h1 {
    letter-spacing: -3px;
    font-family: "freight big pro";
    font-size: 6.9vw;
    line-height: 5vw;
    font-weight: 100;
    text-align: center;
    position: absolute;
    z-index: 5;
}

#loader video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    z-index: 4;
}

#nav {
    width: 100vw;
    padding: 2vw 4vw;
    position: fixed;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#nav #nav-left svg path {
    fill: #000;
}

#nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.5vw;
    margin-right: 5.5vw;
}

#nav-right a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -.2px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #F5E41B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#page1 h1 {
    font-family: "freight big pro";
    letter-spacing: -3px;
    font-size: 6.9vw;
    line-height: 5vw;
    font-weight: 100;
    text-align: center;
}

#page2 {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.elem {
    cursor: pointer;
    width: 100%;
    position: relative;
}

.elem:hover .moving {
    -webkit-transform: translate(0, -45%) scaleY(1);
        -ms-transform: translate(0, -45%) scaleY(1);
            transform: translate(0, -45%) scaleY(1);
}

.elem h2 {
    font-family: "freight big pro";
    font-weight: 100;
    font-size: 6vw;
    position: relative;
    z-index: 5;
    line-height: 4.8vw;
}

.elem:hover h2 {
    font-style: italic;
}

.elem .moving {
    background-color: #F5E41B;
    white-space: nowrap;
    width: 100%;
    padding: 6px 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -45%) scaleY(0);
        -ms-transform: translate(0, -45%) scaleY(0);
            transform: translate(0, -45%) scaleY(0);
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    overflow: hidden;
}

.elem .moving .strip {
    background: -webkit-gradient(linear, left top, right top, from(#f5e31bef), color-stop(#F5E41B), to(#f5e31bef));
    background: -o-linear-gradient(left, #f5e31bef, #F5E41B, #f5e31bef);
    background: linear-gradient(to right, #f5e31bef, #F5E41B, #f5e31bef);
    -webkit-box-shadow: 10px 0px 50px 20px #F5E41B, -10px 0px 50px 20px #F5E41B;
            box-shadow: 10px 0px 50px 20px #F5E41B, -10px 0px 50px 20px #F5E41B;
    width: 35%;
    padding: 8px;
    position: absolute;
    z-index: 4;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.elem .moving .moving-in {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation: moving 5s linear infinite;
            animation: moving 5s linear infinite;
}

@-webkit-keyframes moving {
    from {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes moving {
    from {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

.elem .moving .moving-in h5 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: .9vw;
    font-weight: 500;
    display: inline-block;
    margin-right: 2.5vw;
    color: #000;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    opacity: 0;
    -webkit-transition-delay: 400ms;
         -o-transition-delay: 400ms;
            transition-delay: 400ms;
}

.elem:hover .moving .moving-in h5 {
    opacity: 1;
}

#page3 {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

#footer {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: -5%;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

#f-top {
    background-color: white;
    height: 13vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
}

#f-top h2 {
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
}

#f-bottom {
    background-color: #000;
    height: 12vh;
    margin-bottom: 7vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0vw 5.5vw;
}

#f-bottom #left a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: -.8px;
}

#f-bottom #right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4.2vw;
}

#footer #f-bottom #right a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: -.8px;
}